/* Définition du style de l'horloge sans mode */
body {
    transition:1s;
    background : url("../img/jardin.jpg") no-repeat ;
    background-size:100%;
}

button {
    position:absolute;
    left:46%;
    border:none;
    background:floralwhite;
    padding: 6px;
    border-radius:8px;
}

h1 {
    text-align: center;
}

.horloge {
    background: #fff url("../img/img.svg") no-repeat center;
    background-size: 90%;
    position: absolute;
    border: 5px black solid;
    border-radius: 50%;
    transition:1s;
    height: 20em;
    width: 20em;
    left:39%;
    top: 10em;
}

.heures-container, .minutes-container, .secondes-container {
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
}

.heures {
    background: black;
    border:1px #b1b1b1 solid;
    transform-origin:50% 100%;
    position:absolute;
    height:20%;
    width: 2%;
    left:49%;
    top:30%;
}

.minutes {
    background: black;
    border:1px solid #b1b1b1;
    transform-origin:50% 100%;
    position:absolute;
    height:40%;
    width: 2%;
    left:49%;
    top:10%;
}

.secondes {
    background: red;
    border:1px solid #b1b1b1;
    transform-origin:50% 80%;
    position:absolute;
    height:45%;
    width: 2%;
    left:49%;
    top:14%;
}

.heures-container {
    animation: rotate 43200s infinite linear;
}

.minutes-container {
    animation: rotate 3600s infinite linear;
}

.secondes-container {
    animation: rotate 60s infinite steps(60);
}

@keyframes rotate {
    100% { transform : rotate(360deg); }
}

/* Mode sombre */
.modeSombre {
    background : url("../img/ciel.jpg") no-repeat ;
    background-size:100%;
    transition: 1s;
}

.modeSombre h1 {
    color:white;
}

.modeSombre .heures {
    background: #b1b1b1;
    border:1px solid white;
}

.modeSombre .minutes{
    background-color:#b1b1b1;
    border:1px solid white;
}

.modeSombre .secondes{
    border:1px solid white;
}

.modeSombre .horloge {
    background-size: 88%;
    background-color:#716868;
    border:5px solid white;
}

.modeSombre button {
    background:black;
    border: 0.5px solid white;
    color:white;
}